html {
  height: 100%;
  width: 100%;
}

.card {
  width: 180px;
  margin: 5px;
}

.card-text {
  margin: 1px
}

.hidden {
  display: none;
}

#menu, #loading {
  height: 149px;
  padding: 15px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}